{{> nav}}
<div class="split content">
  <div class="left-bar">
    <h2>file info</h2>
  </div>
  <div class="file-info">
    {{#with fileInfo}}
      <div>
        <h5>id: </h5>
        <span>{{id}}</span>
      </div>
      <div>
        <h5>name: </h5>
        <span>{{name}}</span>
      </div>
      <div>
        <h5>path: </h5>
        <span>{{path}}</span>
      </div>
      <div>
        <h5>size: </h5>
        <span>{{size}}</span>
      </div>
      <div>
        <h5>type: </h5>
        <span>{{type}}</span>
      </div>
      <div>
        <h5>savedate: </h5>
        <span>{{savedate}}</span>
      </div>
    {{/with}}
  </div>
</div>